body
{
    padding: 0;
    margin: 0;
    background-color: #23c6b1;
    font-family: Arial, Helvetica, sans-serif;
}

.basic {
    clear: both;
    margin-top: .5em;
    background-color: #238bc6;
    height: 3em;
    width: 10em;
    border-radius: .5em;
    box-shadow: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: Helvetica;
}

button.basic:hover {
    background-color: #b2b7b2;
    cursor: pointer;
}

.popup {
    background-color: #23c6b1;
}

.popup button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.centertext {
    width: 100%;
    text-align: center;
}

.ticWrap canvas {
    background-color: white;
    height: 100%;
    width: 100%;
}

#message {
    padding-top: .5em;
    text-align: center;
}

@media screen and (min-width:1200px) {
    .ticWrap {
        width: 35vw;
        height: 35vw;
    }

    .btn {
        width: 35vw;
    }

    #message {
        width: 35vw;
    }
}

@media screen and (min-width:800px) and (max-width: 1199px) {
    .ticWrap {
        width: 50vw;
        height: 50vw;
    }

    .btn {
        width: 50vw;
    }

    #message {
        width: 50vw;
    }
}

@media screen and (min-width:500px) and (max-width:799px) {
    .ticWrap {
        width: 70vw;
        height: 70vw;
    }

    .btn {
        width: 70vw;
    }

    #message {
        width: 70vw;
    }
}

@media screen and (max-width: 499px) {
    .ticWrap {
        width: 90vw;
        height: 90vw;
    }

    .btn {
        width: 90vw;
    }

    #message {
        width: 90vw;
    }

    button {
        height: 4em;
    }
}

.btn {
    padding-bottom: .5em;
    text-align: center;
}